---
layout: default
title: VizBlocks
h1: About VizBlocks
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div class="container">
      <h1 id="no-banner" class="desktop">{{ page.h1 }}</h1>
    </div>
    {% include intro.html %}
    {% include authors.html %}
    {% include contact-button.html %}
    {% include footer.html %}
  </body>
  <script>
    if (touchDevice) {
      const element = document.getElementById("no-banner");
      element.className = "mobile";
    }
  </script>
</html>
