<div class="blocks-section">
  <div class="container">
    <div class="inner-blocks-section">
      <h2 class="section-heading">What's in the kit?</h2>
      <p class="blocks-text">
        {{ site.data.content.blocks_text }}
      </p>
      <ul class="list">
        {% for block in site.blocks %}
          <li class="block-item">
            <div class="img-container">
              <img src="{{ block.image | prepend: site.baseurl }}" class="intro-img"></img>
            </div>
            <div class="text-container">
            <h3>{{ block.name }}</h3>
            <p>{{ block.content | markdownify }}</p>
            {% if block.name != "VizBlocks Server" %}
            <p class="hide-on-mobile">Hover over the commands below to preview this block's behaviours:</p>
            {% endif %}
            <ul class="hide-on-mobile">
              {% for behaviour in block.behaviours %}
                <li>
                  <p class="tooltip">{{ behaviour.name }}
                    <img src="{{ behaviour.tooltip | prepend: site.baseurl }}" class="tooltip-content">
                  </p>
                </li>
              {% endfor %}
            </ul>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
