<header>
  <div class="">
    <div class="inner-header">
      <div class="logotype">
        <a href="{{ "/" | prepend: site.baseurl }}">VizBlocks</a>
      </div>
      <div id="navigation" class="desktop">
        <button onclick="toggleBurger(this)">
          <i class="fa fa-bars"></i>
        </button>
        <nav id="menu">
          {% for item in site.data.navigation %}
            <a href="{{ item.link | prepend: site.baseurl }}" class="{{ item.class }}">{{ item.name }}</a>
          {% endfor %}
        </nav>
      </div>
    </div>
  </div>
  <script>
  const toggleBurger = () => {
    const menu = document.getElementById('menu');
    if (menu.className === "collapse") {
      menu.className = "extend";
    } else {
      menu.className = "collapse";
    }
  }

  var touchDevice = ('ontouchstart' in document.documentElement);
  if (touchDevice) {
    const navigation = document.getElementById('navigation');
    navigation.className = "mobile";
  }

  </script>
</header>
