<div class="system-section">
  <div class="container">
    <div class="inner-system-section">
      <h2 class="section-heading">The VizBlocks system</h2>
      <p class="system-text">
        {{ site.data.content.system_text }}
      </p>
      <div id="overview-container" class="desktop">
        <img id="desktop-overview" src="{{ "/assets/images/overview_horizontal.png" | prepend: site.baseurl }}" alt="Horizontal illustration of how the VizBlock connects to data sources through the Node-RED platform."></img>
        <img id="mobile-overview" src="{{ "/assets/images/overview_vertical.png" | prepend: site.baseurl }}" alt="Vertical illustration of how the VizBlock connects to data sources through the Node-RED platform."></img>
      </div>
    </div>
  </div>
  <script>
    if (touchDevice) {
      const element = document.getElementById("overview-container");
      element.className = "mobile";
    }
  </script>
</div>
