.banner {
  position: relative;
  background-color: $light-grey;
  .img-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img {
      position: absolute;
      min-height: 100%;
      min-width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .inner-banner {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    .main-text {
      color: $primary;
      font-family: $title;
      font-size: 20vw;
      letter-spacing: 2vw;
      font-variation-settings: "wght" 60, "wdth" 100, "opsz" 150;
      text-align: center;
      text-transform: uppercase;
      padding-left: 2vw;
      margin: $header-height*2 0 0 0;
      z-index: 9;
      @include sm {
        font-size: 20vw;
      }
      @include md {
        font-size: 20vw;
        letter-spacing: 2vw;
        padding-left: 2vw;
      }
      @include rwd(1600) {
        font-size: 300px;
        letter-spacing: 50px;
      }
    }
    .strapline{
      color: $primary;
      width: 75%;
      font-family: $body;
      font-size: 2.5rem;
      text-align: center;
      margin: 15vh 0 15vh 0;
      z-index: 9;
    }
    .cta-text {
      color: $primary;
      font-family: $body;
      font-size: 2rem;
      text-align: center;
      margin: 0;
      z-index: 9;
    }
  }
}
