$footer-height: 60px;

footer {
  margin-top: $footer-height;
  height: $footer-height;
  width: 100%;
  background-color: $primary;
  z-index: 10;
  .inner-footer {
    display: flex;
    align-items: center;
    height: $header-height;
    justify-content: center;
    p {
      font-size: 0.75rem;
      color: $white;
        a {
          color: $white;
          padding: 0px 1px 1px 1px;
          &:last-child {
            margin-right: 0px;
          }
          &:hover {
            color: $primary;
            background-color: $white;
          }
          &:active {
            color: $primary;
            background-color: $secondary;
          }
        }
    }
  }
}
