.system-section {
  margin-top: $section-spacing;
  .inner-system-section {
    width: 100%;
    h2 {
    }
    p {
    }
    #overview-container {
      img {
        width: 100%
      }
      &.desktop {
        img {
          &:last-child {
            display: none;
          }
        }
      }
      &.mobile {
        img {
          &:first-child {
            display: none;
          }
        }
      }
    }
  }
}
