.tutorial {
  .inner-tutorial {
    h2 {
      margin: 0;
    }
    p {
      margin-bottom: 15px;
    }
    ul {
      padding-left: 16px;
      li {
        margin-bottom: 5px;
      }
    }
    ol {
      padding-left: 16px;
      li {
        margin-bottom: 15px;
      }
    }
    .description {
      font-size: 1.33em;
      margin-bottom: 40px;
    }
    .full-width {
      width: 100%;
      height: auto;
      img {
        width: 100%;
      }
    }
    img {
      display: block;
      height: 500px;
      margin: 30px auto;
    }
  }
}
